<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Online Lisp Interpreter</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="main_bg">
<div id="main">
<!-- header -->
<div id="header">
	<div id="logo">
		<a href="http://anoopsmohan.blogspot.com">Anoop.S.M</a>
		<h2><a href="http://anoopsmohan.blogspot.com"><small>MCA Final Project</small></a></h2>
	</div>
	<h1>Online LISP Interpreter</h1>
</div>	
 
 <div id="buttons">
	<a href="http://0.0.0.0:8080/home.html" class="but_home" title=""></a><div class="but_razd"></div>
	<a href="http://0.0.0.0:8080/examples.html" class="but" title="">Examples</a><div class="but_razd"></div>
	<a href="http://0.0.0.0:8080/about.html" class="but" title="">About</a><div class="but_razd"></div>
	<a href="http://0.0.0.0:8080/about_us.html" class="but" title="">About me</a><div class="but_razd"></div>
	<a href="http://0.0.0.0:8080/contact_us.html" class="but" title="">Contact </a>
	<a href="http://0.0.0.0:8080/signin.html" class="but" title="">Sign In</a>
	<a href="http://0.0.0.0:8080/signup.html" class="but" title="">Sign Up</a>
	<a href="http://0.0.0.0:8080/home.html" class="but" title="">Sign Out</a>
	
	</div>
<div class="inner_copy"><div class="inner_copy">Find best premium and <a href="http://www.getjoomlatemplatesfree.com" title="Joomla templates">free Joomla templates</a> at GetJoomlaTemplatesFree.com</div></div>
<!-- / header -->
<div class="top">
<!-- content -->
				<div class="cont_top"></div>
				<div id="content">
					<div style=" height:10px"></div>
					<div id="cont_razd">
					<div id="right">
						<h2>Categories</h2>
						<div style=" height:5px"></div>
						<ul class="spis">
							<li><a href="#">In ultrices libero</a></li>
							<li><a href="#">Quisque dignissim</a></li>
							<li><a href="#">Donec semper nunc ac velit</a></li>
						</ul>
						<div style=" height:25px"></div>
						<h2>Archives</h2>
						<div style=" height:5px"></div>
						<ul class="spis">
							<li><a href="#">January 2010</a></li>
							<li><a href="#">February 2010</a></li>
							<li><a href="#">March 2010</a></li>
						</ul>
						<div style=" height:25px"></div>
						<h2>Meta</h2>
						<ul class="spis">
							<li><a href="#">Log in</a></li>
							<li><a href="#">Valid XHTML</a></li>
							<li><a href="#">XFN</a></li>
							<li><a href="#">WordPress</a></li>
						</ul>
					</div>
						<div id="left">
							<div style="height: 55px;">
								<div class="dat_img">
									23
									<div style="height: 3px;"></div>
									<span class="span_munth">Dec</span>
							</div>
							<div style="width:570; float: left;">
								<a class="a_blog" href="#">Lorem Ipsum Dolor</a><div style="height: 3px;"></div>
								<div class="datc_coment">
										<div class="datc">Added by: <a href="#">John Johnson</a></div>
										<div class="coment"><a href="#">14 Comments </a>&nbsp;&nbsp;<img src="images/fish2.png" style=" vertical-align:middle; padding-top: 1px;" alt="" />&nbsp;&nbsp;</div>
									</div>
								</div>
							</div>
							<div style="height: 10px;"></div>
							<img src="images/img21.jpg" class="img_l" alt="" /><span class="span_cont">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span><br/>
							Fusce dapibus enim at urna vestibulum elementum. Mauris tempor porta magna, id accumsan urna mattis a. In luctus, magna eu conval- lis imperdiet, enim lacus pretium magna, sit amet tincidunt urna arcu vitae risus. Sed nunc diam, commodo nec tincidunt posuere, lacinia quis quam. Proin turpis odio, faucibus et congue a, viverra quis nulla. In hac habitasse platea dictumst. Aliquam vulputate massa ac mi adipiscing posuere. Sed semper pellentesque arcu, lobortis lobortis metus tempor sit amet. Nullam bibendum purus mauris, eu tristique 
							<div style="height: 10px;"></div>
							<div style="height:20px;"><a class="read_l" href="#">more</a></div>
					
							<div style=" height:5px"></div>
							<div style=" height:20px"></div> 
							<div style="height: 55px;">
				<div class="dat_img">
									24
									<div style="height: 3px;"></div>
									<span class="span_munth">Dec</span>
							</div>
							<div style="width:570; float: left;">
								<a class="a_blog" href="#">Quisque Euismod Libero</a>
								<div style="height: 3px;"></div>
								<div class="datc_coment">
										<div class="datc">Added by: <a href="#">John Johnson</a></div>
										<div class="coment"><a href="#">14 Comments </a>&nbsp;&nbsp;<img src="images/fish2.png" style=" vertical-align:middle; padding-top: 1px;" alt="" />&nbsp;&nbsp;</div>
								</div>
							</div>
							</div>
							
							<div style="height: 10px;"></div>
							<img src="images/img22.jpg" class="img_l" alt="" /><span class="span_cont">Quisque euismod libero eu nisl iaculis eget facilisis augue hendre- rit. </span><br/>
							Nam fringilla adipiscing enim non iaculis. Pellentesque condimentum faucibus rhoncus. Donec sapien lacus, molestie et laoreet blandit, rutrum sed quam. In sit amet dui risus. Sed sit amet turpis vel tortor malesuada convallis sed sed libero. Aliquam erat volutpat. Cras auctor luctus est pellentesque faucibus. Pellentesque porttitor mauris tellus, id interdum ligula. Quisque vel tortor a tortor pretium tempus at ut urna. Morbi ante orci, fermentum et cursus in, tempor id ipsum. 
							<div style="height: 10px;"></div>
							<div style="height:20px;"><a class="read_l" href="#">more</a></div> 
							<div style="height: 10px; clear: both"></div>
							<div style=" height:21px;">
								<a class="gal_num" href="#">1</a>
								<a class="gal_num" href="#">2</a>
								<a class="gal_num" href="#">3</a>
							</div>
						
					</div>
					<div style="clear: both"></div>
					</div>
				</div>
				<div class="cont_bot"></div>
<!-- / content --> 
	<div style="height:15px"></div>
<!-- bottom -->
	<div id="bottom">
		<div style="height:10px"></div>
	<div id="b_col1">
		<h1>Recent Posts</h1>
		<div style="height:10px"></div>
			<ul class="spis_bot">
				<li><a href="#">Lorem ipsum dolor sit amet </a></li>
				<li><a href="#">Maecenas in magna quis augue</a></li>
				<li><a href="#">Ut a mauris nec eros consect</a></li>
				<li><a href="#">Nam luctus felis at mauris co </a></li>
				<li><a href="#">Aliquam sagittis ligula sit amet </a></li>
				<li><a href="#">Quisque sit amet est id urna</a></li>
				<li><a href="#">Aenean gravida ipsum in quam</a></li>
			</ul>
	</div>
	<div id="b_col2">
			<h1>Nulla Eu Leo At Ligula</h1>
			<div style="height:15px"></div>
			<img src="images/img14.jpg" class="img_l" alt="" />
			<span class="span_cont">Nulla eu leo at ligula porta aliquam. </span><br/>
			Donec fermentum leo sed ante accumsan vitae faucibus tellus commodo. Pellentesque fermentum, purus eu aliquam. <br/><div style="height:5px"></div>
			
			<img src="images/img15.jpg" class="img_l" alt="" />
			<span class="span_cont">Cras dictum, est eget adipiscing consectetur, eros eros posuere eros, non mattis neque sem ultricies mauris. </span>
			Vestibulum aliquet congue nunc a consect <br/>
	</div>

	<div id="b_col3">
			<h1>Send a Message</h1>
			<div style="height:15px"></div>
			<form action="" method="post">
				<div style="height:30px;"><label>Name</label><input class="input_txt" value="" name="Name" type="text" /></div><div style="height:5px"></div>
				<div style="height:30px;"><label>E-mail</label><input class="input_txt" value="" name="E-mail" type="text" /></div><div style="height:5px"></div>
					<div><textarea class="text_area" cols="32" rows="3" name="Message"></textarea></div>
				<div style=" float:left;"><input class="submit" name="Submit" type="submit" value="Submit" /></div>
		</form>
	</div>
	<div style="clear: both;"></div>
	</div>
	<div class="cont_bot"></div>
	
<!-- / bottom --> 
	<div id="footer">
		<p>Copyright statement. Designed by <a href="http://anoopsmohan.blogspot.com">Anoop.S.M</a></p>
		<p>All rights reserved.</p>
		
	</div>
</div>

</div>

</body>
</html>
